* {
    margin: 0;
    padding: 0;
}
.entrance {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tavern-door {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.entrance-button{
    position: absolute;
    top: 5%;
    left:17.5%;
    padding: 300px 150px;
    background-color: none;
    text-decoration: none;
}
