* {
    margin: 0;
    padding: 0;
}
.entrance, .interior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.entrance{
    z-index: 2;
}
.interior{
    z-index: 1;
}
.tavern-door, .tavern-interior {
    position:fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.entrance-button{
    position: absolute;
    top: 5%;
    left:17.5%;
    padding: 20% 10%;
    border: solid 3px black;
    background-color: none;
    text-decoration: none;
    cursor: pointer;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    z-index: 999;
}